<footer class="footer sm:footer-horizontal mt-10 border border-base-200 bg-[#0b132b] text-white p-10 shadow-sm">
  <nav>
    <h6 class="footer-title opacity-100 text-lg font-bold">FOOTER ANGULAR</h6>
    <p class="text-sm">Estudiante: Carlos Antonio Gordillo Tenemaza</p>
  </nav>
  
  <nav>
    <h6 class="footer-title opacity-100">FECHA INGRESO</h6>
    <p class="font-bold">5/20/26</p>
  </nav>
  
  <nav>
    <h6 class="footer-title opacity-100">TOTAL</h6>
    <p class="font-bold text-[#34d399]">$200.00</p>
  </nav>

  <nav>
    <h6 class="footer-title opacity-100">PROGRESO</h6>
    <p class="font-bold text-[#38bdf8]">75%</p>
  </nav>
</footer>